# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items

# Stuff I added directly in here
.apdisk
*.o
*.d
*.bak
*.a

TFTBacklight/Debug/TFTBacklight
TestScrollText/Debug/TestScrollText
Phantom_Phoenix_fixed/Debug/Phantom_Phoenix_fixed
Phantom_Phoenix/Debug/Phantom_Phoenix
.metadata
Edison_Incs_Libs/include
Edison_Incs_Libs/lib
AdafruitGraphicTest/Debug/AdafruitGraphicTest
EdisonConsole/Debug/EdisonConsole
